<mat-card appearance="outlined" class="mb-xxs">
  <tmx-device-prep-received-search (checkinQuery)="performCheckin($event)" (deviceQuery)="performSearch($event)"></tmx-device-prep-received-search>
</mat-card>

@if ((statusMessage | async) !== undefined) {
  <mat-card appearance="outlined" class="mb-xxs" [@fadeAnim]>
    <tmx-device-prep-status-message [message]="statusMessage | async"></tmx-device-prep-status-message>
  </mat-card>
}

@if ((query.lots$ | async) !== undefined) {
  <mat-card appearance="outlined" [@fadeAnim]>
    <tmx-device-prep-received-details></tmx-device-prep-received-details>
  </mat-card>
}