:host {
	text-align: center;
	mat-icon {
		vertical-align: middle;
		height: 20px;
		width: 20px;
		font-size: 20px;
		margin-right: 1rem;
		// Needed due to: https://github.com/google/material-design-icons/issues/648
		transform: rotate(0.03deg);
	}
	
	a {
		vertical-align: middle;
	}
}
