::ng-deep {
    mat-mdc-form-field-subscript-wrapper mat-mdc-form-field-bottom-align {
        height: 0px !important;
        max-height: 0px !important;
    }

    .mat-mdc-form-field {
        font-size: 12px;

        .mat-mdc-text-field-wrapper {
            padding-bottom: 0;
        }

        .mat-mdc-form-field-infix {
            min-height: 40px;
            padding: 8px 0;
        }
    }
}
