:host {
	::ng-deep {

		.mat-mdc-table {
			&.resizing {
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				cursor: col-resize;
			}

			.mat-cell {
				span {
					display: block;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}

			.mat-header-cell {
				position: relative;

				&:not(:last-child) {
					.resize-holder {
						cursor: col-resize;
						width: 20px;
						height: 100%;
						position: absolute;
						right: -10px;
						top: 0;
						z-index: 1;
					}
				}
			}
		}

		.mat-expansion-panel-header {
			height: 60px;

			.mat-expanded {
				position: sticky;
				top: 0;
				z-index: 1000;
			}
		}
	}
}

.float-right {
	position: absolute !important;
	top: 10px;
	right: 40px;
}