<!-- Button contents -->
<ng-template #buttonContent>
  @if (actionIcon && actionIconAlign === 'left') {
    <mat-icon matPrefix>
      {{actionIcon}}
    </mat-icon>
  }
  {{actionText}}
  @if (actionIcon && actionIconAlign === 'right') {
    <mat-icon matSuffix>
      {{actionIcon}}
    </mat-icon>
  }
</ng-template>

@if (icon && icon !== 'spacer') {
  <mat-icon class="empty-state-icon">{{icon}}</mat-icon>
}
@if (svgIcon && svgIcon !== 'spacer') {
  <mat-icon svgIcon="{{svgIcon}}" class="empty-state-icon"></mat-icon>
}
@if (icon === 'spacer' || svgIcon === 'spacer') {
  <div aria-hidden="true" class="empty-state-icon-spacer"></div>
}
@if (primaryText) {
  <div class="empty-state-primary-text">
    {{primaryText}}
  </div>
}
@if (secondaryText) {
  <div class="empty-state-secondary-text">
    {{secondaryText}}
  </div>
}
@if (actionText) {
  @if (actionButtonType === 'primary') {
    <button mat-flat-button color="primary" class="empty-state-action"
      (click)="onAction()">
      <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
    </button>
  }
  @if (actionButtonType === 'secondary') {
    <button mat-stroked-button color="primary" class="empty-state-action"
      (click)="onAction()">
      <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
    </button>
  }
}