@if (menu._allItems?.length > 0) {
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu"
    (click)="$event.stopPropagation();">
    Actions
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </button>
} @else {
  <button mat-flat-button color="primary" class="invisible">
    Actions
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </button>
}


<mat-menu #menu="matMenu" class="cui-menu">
  @if (trips._allItems?.length > 0) {
    <button mat-menu-item [matMenuTriggerFor]="trips"
    >Trip Data</button>
  }
  @if (common._allItems?.length > 0) {
    <button mat-menu-item [matMenuTriggerFor]="common"
    >General</button>
  }
  @if ( device._allItems?.length > 0) {
    <button mat-menu-item [matMenuTriggerFor]="device"
    >Device</button>
  }
</mat-menu>

<mat-menu #trips="matMenu">

  @if (shouldDisplayParticipantTripSummary()) {
    <button mat-menu-item color="secondary"
      (click)="viewTrips()">
      View Trips
    </button>
  }
  @if (shouldDisplayParticipantExcludeDateRange()) {
    <button mat-menu-item color="secondary"
      (click)="excludedDateRange()">
      Excluded Date Range
    </button>
  }
</mat-menu>

<mat-menu #common="matMenu">
  @if (optedOutStatus()) {
    <button mat-menu-item color="secondary"
      (click)="reEnroll()">
      Re-Enrollment
    </button>
  }
  @if (enrolledStatus()) {
    <button mat-menu-item color="secondary"
      (click)="optOut()">
      Opt Out
    </button>
  }
  <button mat-menu-item color="secondary" (click)="trackShipment()">
    Track Shipment
  </button>
</mat-menu>
<mat-menu #device="matMenu">
  @if (shouldDisplayPing()) {
    <button mat-menu-item color="secondary"
      (click)="ping()">
      Ping Device
    </button>
  }
  @if (shouldDisplayDeviceReset()) {
    <button mat-menu-item color="secondary"
      (click)="resetDevice()">
      Reset Device
    </button>
  }
  @if (shouldDisplayAudioToggle()) {
    <button mat-menu-item color="secondary"
      (click)="audioSet()">
      Audio <b>[{{getAudioDisplay()}}]</b> Set {{setAudioDisplay()|titlecase}}
    </button>
  }
  @if (shouldDisplayDeviceDefective()) {
    <button mat-menu-item color="secondary"
      (click)="markDefective()">
      Mark Defective
    </button>
  }
  @if (shouldDisplayDeviceAbandon()) {
    <button mat-menu-item color="secondary"
      (click)="markAbandon()">
      Mark Abandoned
    </button>
  }
  @if (shouldDisplayActivateDevice()) {
    <button mat-menu-item color="secondary"
      (click)="activateDevice()">
      Activate Device
    </button>
  }
  @if (shouldDisplayConnectionTimeline()) {
    <button mat-menu-item color="secondary"
      (click)="connectionTimeline()">
      Connection Timeline
    </button>
  }
  @if (enrolledStatus()) {
    <button mat-menu-item color="secondary"
      (click)="replaceDevice(false)">
      {{!!this.participant?.serialNumber ? 'Replace' : 'Order'  }} Device
    </button>
  }
  @if (enrolledStatus()) {
    <button mat-menu-item color="secondary"
      (click)="replaceDevice(true)">
      {{!!this.participant?.serialNumber ? 'Replace' : 'Order'  }} Heavy Truck Cable
    </button>
  }
</mat-menu>
