pre {
	display: block;
	font-family: monospace;
	white-space-collapse: preserve;
	text-wrap: nowrap;
	margin: 1em 0px;
	float: left !important;
	color: red !important;

}

:host {

	::ng-deep {
		.format-context {
			float: left;
			color: red;
		}

		.cui-link {
			white-space: inherit !important;
			height: 20px;
			overflow: hidden;
		}
.cui-cell-10 {
	width: 40px;
	height: 20px !important;
}


	}

	.mat-mdc-dialog-content {
		clear: both;
		white-space: pre !important;
		color: red !important;
	}
}
