<form #form="ngForm" class="m-auto">
	<div class="flex flex-wrap justify-center">
			<div class="flex ml-s mr-s">
					<mat-form-field appearance="outline" [hideRequiredMarker]="true">
						<mat-label>Check in Batch/Lot/Device Serial Number</mat-label>
						<input #checkin id="tmx-dps-checkin" type="text" matInput required (change)="serialNumber.value=''">
						<mat-error>Field is required to perform checkin</mat-error>
					</mat-form-field>
					<span>
						<button mat-flat-button color="primary" class="ml-xxs search-button" (click)="performCheckin(checkin.value)" [disabled]="checkin.value === ''">
							Check In
							<ng-content select="mat-icon"></ng-content>
						</button>
					</span>
			</div>

			<div class="flex ml-s mr-s">
				<mat-form-field appearance="outline" [hideRequiredMarker]="true">
					<mat-label>Enter Device to find Batch/Lot</mat-label>
					<input #serialNumber id="tmx-dps-search" type="text" matInput required (change)="checkin.value=''">
					<mat-error>Field is required to perform search</mat-error>
				</mat-form-field>
				<span>
					<button mat-flat-button color="primary" class="ml-xxs search-button" (click)="performSearch(serialNumber.value)" [disabled]="serialNumber.value === ''">
						Search
						<ng-content select="mat-icon"></ng-content>
					</button>
				</span>
			</div>
	</div>
</form>
