<mat-card appearance="outlined" class="mb-xxs">

  <div class="flex flex-wrap justify-center">

    @if (showPolicySearch) {
      <div class="flex ml-s mr-s">
        <tmx-text-control #tmxPolicySearchPolicyNumber id="tmx-policy-search-policy-number" label="Policy Number"
          maxlength="9" [(model)]="policyNumber" (keyUpEnter)="onPolicySearch(policyNumber)"
          (modelChange)="clearInputs(policyNumber)">
        </tmx-text-control>
        <span>
          <button mat-flat-button color="primary" class="ml-xxs search-button" [disabled]="!policyNumber"
            (click)="onPolicySearch(policyNumber)">Search
            <ng-content select="mat-icon"></ng-content>
          </button>
        </span>
      </div>
    }

    @if (showSerialNumberSearch) {
      <div class="flex ml-s mr-s">
        <tmx-text-control #tmxPolicySearchSerialNumber id="tmx-policy-search-serial-number" label="Device Serial Number"
          [(model)]="serialNumber" (keyUpEnter)="onSerialNumberSearch(serialNumber)"
          (modelChange)="clearInputs(serialNumber)">
        </tmx-text-control>
        <span>
          <button mat-flat-button color="primary" class="ml-xxs search-button" [disabled]="!serialNumber"
            (click)="onSerialNumberSearch(serialNumber)">Search
            <ng-content select="mat-icon"></ng-content>
          </button>
        </span>
      </div>
    }

    @if (showPhoneNumberSearch) {
      <div class="flex ml-s mr-s">
        <tmx-phone-number-control #tmxPolicySearchPhoneNumber id="tmx-policy-search-phone-number" label="Phone Number"
          [(model)]="phoneNumber" (keyUpEnter)="onPhoneNumberSearch(phoneNumber)" isRequired="false"
          (modelChange)="clearInputs(phoneNumber)">
        </tmx-phone-number-control>
        <span>
          <button mat-flat-button color="primary" class="ml-xxs search-button" [disabled]="phoneNumber?.length !== 14"
            (click)="onPhoneNumberSearch(phoneNumber)">Search
            <ng-content select="mat-icon"></ng-content>
          </button>
        </span>
      </div>
    }

    @if (showMobileIdentifierSearch) {
      <div class="flex ml-s mr-s mobile">
        <tmx-guid-control #tmxPolicySearchMobileIdentifier id="tmx-policy-search-mobile-identifier" label="Mobile Identifier"
          [(model)]="mobileIdentifier" (keyUpEnter)="onMobileIdentifierSearch(mobileIdentifier)"
          (modelChange)="clearInputs(mobileIdentifier)">
        </tmx-guid-control>
        <span>
          <button mat-flat-button color="primary" class="ml-xxs search-button"
            [disabled]="mobileIdentifier?.length !== 36" (click)="onMobileIdentifierSearch(mobileIdentifier)">Search
            <ng-content select="mat-icon"></ng-content>
          </button>
        </span>
      </div>
    }
  </div>
</mat-card>

@if (showEmptyDataPanel) {
  <mat-card appearance="outlined" [@fadeAnim]>
    <tmx-empty-state icon="search" primaryText="Please search for a policy"
      secondaryText="Please provide a data element to begin your search">
    </tmx-empty-state>
  </mat-card>
}

@if (showSearchErrorPanel) {
  <mat-card appearance="outlined" [@fadeAnim]>
    <tmx-empty-state svgIcon="ubi_sadcone" primaryText="Uh oh..." secondaryText="{{ searchErrorMessage }}">
    </tmx-empty-state>
  </mat-card>
}