<cui-dialog closeButtonLabel="Close Dialog" [showClose]="true" [showFooter]="true" (close)="onCancel()">
  <div mat-dialog-title dialog-header class="mat-toolbar dialog-header mat-toolbar-single-row">
    @if (isCableOrderInd) {
      <span> Replace Heavy Truck Cord </span>
    }
    @if (!isCableOrderInd) {
      <span> Replace Device </span>
    }
  </div>
  @if (isCableOrderInd) {
    <cui-notification-banner dialog-sub-header type="info">
      This is to Order or Replace a Heavy Truck Cable.
    </cui-notification-banner>
  }
  @if (!isCableOrderInd) {
    <cui-notification-banner dialog-sub-header type="info">
      This is to Order or Replace Device.
    </cui-notification-banner>
  }
  <div mat-dialog-content dialog-content class="mt-xxs">
    <form [formGroup]="myForm" (ngSubmit)="onConfirm()">
      <div class="top-space">Is the vehicle a Heavy Truck?</div>
      <mat-checkbox formControlName="heavyTruck">Heavy
      Truck</mat-checkbox>
      @if (myForm?.get('heavyTruck').errors) {
        <mat-error>Cable Type does not match for Heavy
        Trucks</mat-error>
      }
      <div>
        <mat-form-field appearance="outline" [hideRequiredMarker]="true" style="width: 100%;">
          <mat-label>Cable Type</mat-label>
          <mat-select formControlName="cableType" value="cableType" id="tmx-edr-reason" name="reason"
            cuiMatSelectAccessibility>
            @for (cable of cableTypes; track cable) {
              <mat-option [value]="cable.code">{{ cable.description }}</mat-option>
            }
          </mat-select>
          <mat-error>Cable Type does not match for Heavy
          Trucks</mat-error>
        </mat-form-field>
      </div>
      <ng-container dialog-footer>
        <div class="footer">
          <button type="submit" mat-flat-button color="primary" [disabled]="!canSubmit" class="mr-xxs" id="btn-confirm"
            (click)="onConfirm()">
            Ok
          </button>
          <button mat-stroked-button color="primary" id="btn-cancel" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </ng-container>
    </form>
  </div>
</cui-dialog>
