@use 'base/variables';
@use '@angular/material';


:host {
	height: inherit;

	::ng-deep {

		.table {
			width: calc(100% - 1px) !important;
			display: flex !important;
			overflow-x: scroll;
		}

		/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
		/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
		/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
		.mat-button-wrapper {
			vertical-align: inherit !important;
		}

		.mat-mdc-icon-button {
			color: #616161;
			margin-top: -20px !important;
		}

		.mat-sort-header-container {
			width: 280px !important;
		}

		.mat-mdc-table {
			overflow-x: auto;
			width: fit-content;

			.mat-cell {
				/* flex-wrap: nowrap; */
				text-wrap: nowrap;
				width: fit-content;
				margin-right: 15px;

			}
		}

		.mat-mdc-card {
			margin-top: -10px;
		}

		.mat-mdc-card-title {
			font-size: 3rem !important;
		}

		.mat-mdc-row .mat-header-row {
			display: inline-flex;
		}

		.mat-cell .mat-header-cell {
			flex-wrap: nowrap;
			display: inline-flex;
			line-break: unset;
			white-space: nowrap;
			overflow: scroll;
			vertical-align: middle;
		}

		.mat-mdc-paginator {
			display: block;
			flex: 1;
		}
	}
}

.column-large {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	width: 270px !important;
}

.filters {
	display: inline-flex;
}

.full-width {
	width: 100%;
	display: flex;
}

.filter-input {
	display: inline;
	width: 140px !important;
	padding-left: 5px;
}

.filter-select {
	display: inline;
	width: 140px !important;
}

.filter-list {
	clear: both;
	display: flex;
	flex-direction: row;
	height: 45px !important;
	margin: 5px;
}

.filter-card {
	margin: 0 5px;
	padding-bottom: 10px !important;
	display: inline-flex;
	height: 15px !important;
}

.apply-button {
	margin-top: 5px;
	height: 45px;
	margin-left: 5px;
}

.card-container {
	@include material.elevation(2);
	align-items: center;
	border-radius: variables.$border-radius;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	padding: 2rem;
	padding-right: 6rem;
	position: relative;
	text-decoration: none;
	transition: box-shadow .2s ease;


	.material-icons-icon {
		font-size: 3.6rem;
		height: 3.6rem;
		line-height: 3.6rem;
		width: 3.6rem;
		min-width: 36px;
	}

	.external-link-icon {
		font-size: 1.8rem;
		height: 1.8rem;
		line-height: 1.8rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		width: 1.8rem;
	}

	&:hover {
		@include material.elevation(4);
	}

	&:active {
		@include material.elevation(2);
	}
}