<table mat-table columnResize  [dataSource]="dataSource" class="cui-table">
	<ng-container sticky  matColumnDef="tranSeqId">
		<th mat-header-cell  resizable  *matHeaderCellDef class="cui-cell-10">Transaction Audit SeqID</th>
		<td mat-cell *matCellDef="let item">
			<span>{{ item.transactionAuditSeqId }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="createDate">
		<th mat-header-cell  resizable  *matHeaderCellDef class="cui-cell-18">Create Date</th>
		<td mat-cell *matCellDef="let item">
			<span>{{ item.createDate | date: formats.DATE_TIME_LONG }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="polNbr">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Policy #</th>
		<td mat-cell *matCellDef="let item"><span>{{ item.policyNumber }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="resultStat">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Result Status</th>
		<td mat-cell *matCellDef="let item"><span>{{ item.resultStatus }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="resultMsg">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Result Message</th>
		<td mat-cell *matCellDef="let item"><span>{{ item.resultMessage }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="tranName">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Transaction Name</th>
		<td mat-cell *matCellDef="let item"><span>{{ item.transactionName }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="tranData">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Transaction Data</th>
		<td mat-cell *matCellDef="let item">
			<span>
				<button class="mat-tooltip-trigger cui-link" (click)="openDialog(item)">
					{{ item.transactionData }}
				</button>
			</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="resStat">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Resolution Status</th>
		<td mat-cell *matCellDef="let item"><span>{{ item.resolutionStatus }}</span>
		</td>
	</ng-container>
	<ng-container sticky matColumnDef="resComments">
		<th mat-header-cell  resizable *matHeaderCellDef class="cui-cell-10">Resolution Comments</th>
		<td mat-cell *matCellDef="let item">
			<span>{{ item.resolutionComments }}</span>
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
