<mat-accordion #policyDetailsAccordion="matAccordion">
  @if (policy) {
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title><span class="my-auto">Policy Details</span></mat-panel-title>
        <mat-panel-description>
          <span class="pol-nbr-header">{{ policy.policyNumber }}</span>
          <tmx-commercial-policy-actions class="ml-auto" [policy]="policy"></tmx-commercial-policy-actions>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <tmx-data-list class="mb-m">
        <tmx-data-list-row labelSpan="50" label="Policy Number"
        [colClass]="'align-middle'">{{ policy.policyNumber }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Name"
        [colClass]="'align-middle'">{{ policy.address?.contactName }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Address 1"
        [colClass]="'align-middle'">{{ policy.address?.address1 }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Address 2"
        [colClass]="'align-middle'">{{ policy.address?.address2 }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="City"
        [colClass]="'align-middle'">{{ policy.address?.city }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="State"
        [colClass]="'align-middle'">{{ policy.address?.state }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Zip"
        [colClass]="'align-middle'">{{ policy.address?.zipCode }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Email Address"
        [colClass]="'align-middle'">{{ policy.emailAddress }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Send Dashboard"
        [colClass]="'align-middle'">{{ policy.sendDashboard | yesNo }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="50" label="Create Date"
        [colClass]="'align-middle'">{{ policy.createdDate | date: 'MM/dd/yyyy HH:mm:ss a'   }}</tmx-data-list-row>
      </tmx-data-list>
    </mat-expansion-panel>
  }
</mat-accordion>
