.icon-size-sm {
    width: 1rem!important;
    height: 1rem!important;
    min-width: 1rem!important;
    min-height: 1rem!important;
    font-size: 1rem!important;
    line-height: 1rem!important
}

.icon-size-sm svg {
    width: 1rem!important;
    height: 1rem!important
}

.icon-size-md {
    width: 2rem!important;
    height: 2rem!important;
    min-width: 2rem!important;
    min-height: 2rem!important;
    font-size: 2rem!important;
    line-height: 2rem!important
}

.icon-size-md svg {
    width: 2rem!important;
    height: 2rem!important;
}

.icon-size-lg {
    width: 3.6rem!important;
    height: 3.6rem!important;
    min-width: 3.6rem!important;
    min-height: 3.6rem!important;
    font-size: 3.6rem!important;
    line-height: 3.6rem!important
}

.icon-size-lg svg {
    width: 3.6rem!important;
    height: 3.6rem!important;
}

.icon-size-xl {
    width: 6rem!important;
    height: 6rem!important;
    min-width: 6rem!important;
    min-height: 6rem!important;
    font-size: 6rem!important;
    line-height: 6rem!important
}

.icon-size-xl svg {
    width: 6rem!important;
    height: 6rem!important
}
