<h2 mat-dialog-title>{{ data.label }}</h2>
<mat-dialog-content>
  <tmx-date-time-control
    #dateTimeControl
    [label]="data.label"
    [min]="data.min"
    [model]="dateTime"
    [isDisabled]="data.isDisabled"
    (modelChange)="dateTime = $event; checkDateError()"
    required>
  </tmx-date-time-control>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="hasDateError">OK</button>
  <button mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>