<mat-accordion #policyDetailsAccordion="matAccordion">
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header>
			<mat-panel-title><span class="my-auto">Policy Details</span></mat-panel-title>
			<mat-panel-description>
				<span class="pol-nbr-header">{{ policy.policyNumber }}</span>
				<tmx-are-policy-actions class="ml-auto"></tmx-are-policy-actions>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<tmx-data-list class="mb-m">
			<tmx-data-list-row labelSpan="50" label="Policy Number" [colClass]="'align-middle'">{{ policy.policyNumber }}</tmx-data-list-row>
			<tmx-data-list-row labelSpan="50" label="Accident Response Type" [colClass]="'align-middle'">{{ policy.areDetails.experienceType }}</tmx-data-list-row>
		</tmx-data-list>
	</mat-expansion-panel>
</mat-accordion>