@use 'base/variables';

$navbar-width: 7.2rem;
$sidenav-width: calc(#{variables.$side-sheet-width} - #{$navbar-width});

$white: #FFFFFF;
$gray-25: #F5F5F5;
$gray-50: #E8E8E8;
$gray-75: #DBDBDB;
$gray-100: #CECECE;
$black: #000000;
$border-radius: variables.$border-radius;