<mat-accordion multi>
	<mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
		[pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
	<section matSort class="mat-elevation-z2 mat-header-row text-center">
		<span class="mat-header-cell text-left">Date</span>
		<span class="mat-header-cell max-w-12">Trips</span>
		<span class="mat-header-cell">Duration</span>
		<span class="mat-header-cell max-w-8">Distance (miles)</span>
		<span class="mat-header-cell max-w-8"></span>
	</section>
	@for (item of displayedRows$ | async; track item) {
		<mat-expansion-panel class="normal">
			<mat-expansion-panel-header class="mat-row text-center" [ngClass]="{'excluded' : item.excluded}">
				<span class="mat-cell text-left">{{ item.date | date: formats.DATE_SHORT }}</span>
				<span class="mat-cell max-w-12">{{ item.trips }}</span>
				<span class="mat-cell">{{ getTripDurationDisplay(item.duration)}}</span>
				<span class="mat-cell max-w-8">{{ item.distance | kmToMiles }}</span>
				<span class="mat-cell max-w-8">{{(item.excluded ? '*' : '')}}</span>
			</mat-expansion-panel-header>
			<mat-table #table [dataSource]="item.details">
				<ng-container matColumnDef="startDate">
					<mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.startDate | date: formats.DATE_LONG}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="endDate">
					<mat-header-cell *matHeaderCellDef> End Date</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.endDate | date: formats.DATE_LONG}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="duration">
					<mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.duration | duration}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="distance">
					<mat-header-cell *matHeaderCellDef> Distance </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.distance | kmToMiles}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="hardBreaks">
					<mat-header-cell *matHeaderCellDef> Hard Breaking </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.hardBreaks}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="excluded">
					<mat-header-cell *matHeaderCellDef> Excluded </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{(element.excluded ? '*' : '')}} </mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'excluded' : row.excluded}"></mat-row>
			</mat-table>
			@if (item.excluded) {
				<span>* Excluded trips</span>
			}
		</mat-expansion-panel>
	}
</mat-accordion>