$navbar-width: 9rem;
$secondary-sidebar-width: 22rem;

:host {
  position: fixed;
  left: $navbar-width;
  top: 0;
  height: 100vh;
  width: $secondary-sidebar-width;
  z-index: 1;
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

.secondary-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.6rem 0;

  &__header {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    margin-bottom: 0.8rem;
  }

  &__icon {
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.2rem;
    color: #1976d2;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: #212121;
  }

  &__apps-label {
    font-size: 1.2rem;
    font-weight: 700;
    color: #212121;
    padding: 0 1.6rem;
    margin-bottom: 1.2rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    color: #424242;
    transition: background-color 0.2s ease;
    outline: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }

    &:focus {
      outline: none;
    }

    &--active {
      background-color: rgba(25, 118, 210, 0.08);
      color: #1976d2;
      border-left: 3px solid #1976d2;
    }
  }

  &__link-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1.2rem;
  }

  &__link-text {
    font-size: 1.4rem;
    font-weight: 400;
  }
}
