@for (participant of participants; track participantTracker; let i = $index) {
	<mat-expansion-panel tmxScrollRetainer
		[expanded]="participants?.length === 1 ? true : false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon color="primary"
					[svgIcon]="participant.status !== 'OptOut' ?  'ubi_snapshot_device' : '' "
					class="pr-xxs my-auto">
				</mat-icon>
				<span class="my-auto">{{participant.ymm}} ({{participant.vin}})</span>
				@if (label !== undefined) {
					<span class="my-auto ml-xxs"
					>{{ label }}</span>
				}
				<tmx-commercial-participant-actions [policy]="policy"
					[participant]="participant"
				class="ml-auto"></tmx-commercial-participant-actions>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<mat-panel-description class="mat-tab-body mat-tab-body-active">
			<tmx-data-list class="mb-m">
				<tmx-data-list-row labelSpan="40"
				label="Enrollment Status">{{ participant.status ?? '' }}</tmx-data-list-row>
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Device Status">{{ (participant.deviceStatus | enumTranslate : commercialDeviceStatusDescription )  ?? ''}}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Device Location">{{( participant.deviceLocation | enumTranslate: commercialDeviceLocationDescription) ?? ''}}</tmx-data-list-row>
				}
				<tmx-data-list-row labelSpan="40"
				label="Change Date">{{ (participant.changeDate | date: 'MM/dd/yyyy HH:mm:ss a') || '' }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40"
				label="YMM">{{ participant.ymm }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40"
				label="VIN">{{ participant.vin }}</tmx-data-list-row>
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Device Reported VIN">{{ participant.deviceReportedVIN ?? ''}}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Device Type">{{ participant.deviceType ?? ''}}</tmx-data-list-row>
				}
				@if ((participant.status !== 'OptOut') && !participant.shipDate) {
					<tmx-data-list-row
						labelSpan="40"
					label="Device Order ID">{{ participant.orderId ?? '' }}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Serial Number">{{ participant.serialNumber?? '' }}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="SIM">{{ participant.sim ?? ''}}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Ship Date">{{ (participant.shipDate | date: 'MM/dd/yyyy HH:mm:ss a') || '' }}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="First Contact Date">{{ participant.firstContactDate | date: 'MM/dd/yyyy HH:mm:ss a' }}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Last Contact Date">{{ (participant.lastContactDate | date: 'MM/dd/yyyy HH:mm:ss a') || '' }}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut' && !!participant.returnDate) {
					<tmx-data-list-row
						labelSpan="40"
					label="Return Date">{{ (participant.returnDate | date: 'MM/dd/yyyy HH:mm:ss a') || '' }}</tmx-data-list-row>
				}
				@if (participant.status !== 'OptOut' && !!participant.returnReason) {
					<tmx-data-list-row
						labelSpan="40"
					label="Return Reason ">{{ (participant.returnReason | enumTranslate : commercialReturnReasonDescription ) ?? '' }}</tmx-data-list-row>
				}
				<!-- @if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Cable Type">{{ participant.cableType?? '' }}</tmx-data-list-row>
				} -->
				@if (participant.status !== 'OptOut') {
					<tmx-data-list-row labelSpan="40"
					label="Abandon Date">{{ (participant.abandonDate | date: 'MM/dd/yyyy HH:mm:ss a') || '' }}</tmx-data-list-row>
				}
				<tmx-data-list-row labelSpan="40"
				label="Enrollment Date">{{ (participant.enrolledDate | date: 'MM/dd/yyyy HH:mm:ss a') || ''}}</tmx-data-list-row>
			</tmx-data-list>
		</mat-panel-description>
	</mat-expansion-panel>
}
