:host{
	img {
		max-height: 75px;
		z-index: 1000;
	}

	.help {
		position: absolute;
    right: 25px;
    top: 5px;
	}

	tmx-policy-header {
		position: absolute;
    right: 25px;
    top: 25px;
	}

	xng-breadcrumb {
		position: absolute;
		left: 15px;
	}
}