<mat-accordion multi>
  <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <section matSort class="mat-elevation-z2 mat-header-row text-center">
    <span class="mat-header-cell text-left">Connection</span>
    <span class="mat-header-cell">Disconnection</span>
    <span class="mat-header-cell">Disconnection Duration</span>
  </section>
  @for (item of displayedRows$ | async; track item) {
    <mat-expansion-panel class="normal">
      <mat-expansion-panel-header class="mat-row text-center">
        <span class="mat-cell text-left">{{ item.connection | date: formats.DATE_TIME_LONG }}</span>
        <span class="mat-cell">{{ item.disconnection| date: formats.DATE_TIME_LONG}}</span>
        <span class="mat-cell">{{ item.disconnectionDuration }}</span>
      </mat-expansion-panel-header>
      <div>
        <tmx-data-list class="mr-xxs">
          <tmx-data-list-row labelSpan="40" label="Connection">{{ item.connection | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
          <tmx-data-list-row labelSpan="40" label="Disconnection">{{ item.disconnection | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
          <tmx-data-list-row labelSpan="40" label="Disconnection Duration">{{ item.disconnectionDuration  }}</tmx-data-list-row>
        </tmx-data-list>
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
