<mat-form-field appearance="outline" [hideRequiredMarker]="true" class="w-full">
	<mat-label>{{ label }}</mat-label>
	<input
		matInput
		[disabled]="isDisabled"
		[id]="id"
		[matDatepicker]="datePicker"
		[max]="max"
		[min]="min"
		[name]="name ? name : id"
		(dateChange)="onDateChange()"
		[(ngModel)]="model"
		required>
		<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
	<mat-datepicker #datePicker></mat-datepicker>
	@if (displayError) {
		<mat-error>{{ getErrorMessage() }}</mat-error>
	}
</mat-form-field>
