@if (menu._allItems?.length > 0) {
  <button mat-flat-button
    color="primary"
    [matMenuTriggerFor]="menu"
    (click)="$event.stopPropagation();">
    Actions
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </button>
} @else {
  <button mat-flat-button
    color="primary"
    class="invisible">
    Actions
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </button>
}


<mat-menu #menu="matMenu" class="cui-menu">
  @if (shouldDisplayUnlockRegistration()) {
    <button mat-menu-item
    (click)="openUnlockRegistration()">Unlock Registration</button>
  }

  @if (shouldDisplayUpdatePhoneNumber()) {
    <button mat-menu-item
    (click)="openUpdatePhoneNumber()">Update Phone Number</button>
  }
  @if (shouldDisplayUnenrollParticipant()) {
    <button mat-menu-item
    (click)="openUnenrollParticipant()">Unenroll Participant</button>
  }
</mat-menu>
