@use "sass:map";
@use "@angular/material" as mat;
@use '@pgr-cla/core-ui-components' as cui;

@mixin mat-dialog-theme($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$primary: map.get($color-config, 'primary');
	$is-dark: map.get($color-config, 'is-dark');

	$is-light: map.get($color-config, 'is-light');
	$is-green: map.get($color-config, 'is-green');
	$green: mat.m2-define-palette(cui.$cui-green);
	$blue: mat.m2-define-palette(cui.$cui-blue);
	$orange: mat.m2-define-palette(cui.$cui-orange);

	.mat-toolbar.dialog-header {

		@if $is-dark {
			background-color: mat.m2-get-color-from-palette($blue, 900);
		}

		@if $is-green {
			background-color: mat.m2-get-color-from-palette($green, 900);
		}

		.mat-icon {
			color: mat.m2-get-color-from-palette($primary, darker-contrast);
		}
	}

	.dialog-sub-header .notification-banner {
		&--info {

			@if $is-dark {
				background-color: mat.m2-get-color-from-palette($blue, 800);
			}

			@if $is-green {
				background-color: mat.m2-get-color-from-palette($green, 50);
				color: mat.m2-get-color-from-palette($green, 900);
			}
		}
	}
}