@use "sass:map";
@use "@angular/material" as mat;
@use '@pgr-cla/core-ui-components' as cui;

@mixin table-theme($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$background: map.get($color-config, 'background');
	$is-light: map.get($color-config, 'is-light');
	$is-green: map.get($color-config, 'is-green');
	$gray: mat.m2-define-palette(cui.$cui-gray);

	.table-actions {
		background: mat.m2-get-color-from-palette($background, 'card');
	}

	@if $is-light or $is-green {
		.table-accordion {
			.mat-header-row {
				background-color: $white;
			}

			.mat-expansion-panel-content {
				background-color: mat.m2-get-color-from-palette($gray, 100);
			}

			.normal .mat-expansion-panel-content {
				background-color: $white;
			}
		}
	}
}