<div class="date-time-control">
    <div class="inputs">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>{{ label || 'Date' }}</mat-label>
            <input
                matInput
                [matDatepicker]="datePicker"
                [disabled]="isDisabled"
                [id]="id + '-date'"
                [max]="max"
                [min]="min"
                [required]="isRequired"
                [errorStateMatcher]="dateErrorStateMatcher"
                #dateInputRef
                [(ngModel)]="dateValue"
                [ngModelOptions]="{ standalone: true }"
                (dateChange)="onDateChange($event.value)"
                (input)="onDateInput($event)"
                (blur)="onDateBlur()"
            />
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error>{{ invalidDateFormat ? 'Invalid date format. Please use MM/DD/YYYY.' : '' }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Time</mat-label>
            <input
                matInput
                [matTimepicker]="timePicker"
                [disabled]="isDisabled"
                [id]="id + '-time'"
                [required]="isRequired"
                [errorStateMatcher]="timeErrorStateMatcher"
                #timeInputRef
                [(ngModel)]="timeInput"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onTimeInputChange($event)"
                (input)="onTimeInput($event)"
                (blur)="onTimeBlur()"
            />
            <mat-timepicker-toggle matSuffix [for]="timePicker" (mousedown)="allowTimePickerOpen = true" (keydown.enter)="allowTimePickerOpen = true" (keydown.space)="allowTimePickerOpen = true"></mat-timepicker-toggle>
            <mat-timepicker #timePicker interval="1min" (selected)="onTimeSelected($event)"></mat-timepicker>
            <mat-error>{{ invalidTimeFormat ? 'Invalid time format. Please use HH:MM AM/PM.' : '' }}</mat-error>
        </mat-form-field>
    </div>

    <mat-error class="unified-error">{{ displayError ? errorMessage : '' }}</mat-error>
</div>
