.notification-container {
  position: relative;
  margin-bottom: 1rem;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.notification-timer-container {
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.notification-timer-bar {
  height: 100%;
  width: 100%;
  transform-origin: left center;
  animation: timer-countdown linear backwards;
}

@keyframes timer-countdown {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}