<div class="flex">
  <div class="mr-xs w-1/2">
    <mat-card appearance="outlined">
      <h3>Control</h3>
      <tmx-select-control label="Control Selection"
        [(model)]="selectedControlType"
        [options]="controlOptions"
      (selectionChange)="onControlChange($event)"></tmx-select-control>

      <tmx-date-control [hidden]="selectedControlType !== controlTypes.Date"
        [id]="controlMap.get(controlTypes.Date).id"
        [name]="controlMap.get(controlTypes.Date).name"
        [label]="controlMap.get(controlTypes.Date).label"
        [isRequired]="controlMap.get(controlTypes.Date).isRequired"
        [isDisabled]="controlMap.get(controlTypes.Date).isDisabled"
        [min]="controlMap.get(controlTypes.Date).minDate"
        [max]="controlMap.get(controlTypes.Date).maxDate"
      [(model)]="controlMap.get(controlTypes.Date).model"></tmx-date-control>

      <tmx-date-time-control [hidden]="selectedControlType !== controlTypes.DateTime"
        [id]="controlMap.get(controlTypes.DateTime).id"
        [name]="controlMap.get(controlTypes.DateTime).name"
        [label]="controlMap.get(controlTypes.DateTime).label"
        [isRequired]="controlMap.get(controlTypes.DateTime).isRequired"
        [isDisabled]="controlMap.get(controlTypes.DateTime).isDisabled"
        [min]="controlMap.get(controlTypes.DateTime).minDate"
        [max]="controlMap.get(controlTypes.DateTime).maxDate"
      [(model)]="controlMap.get(controlTypes.DateTime).model"></tmx-date-time-control>

      <tmx-guid-control [hidden]="selectedControlType !== controlTypes.Guid"
        [id]="controlMap.get(controlTypes.Guid).id"
        [name]="controlMap.get(controlTypes.Guid).name"
        [label]="controlMap.get(controlTypes.Guid).label"
        [isRequired]="controlMap.get(controlTypes.Guid).isRequired"
        [isDisabled]="controlMap.get(controlTypes.Guid).isDisabled"
      [(model)]="controlMap.get(controlTypes.Guid).model"></tmx-guid-control>

      <tmx-numeric-control [hidden]="selectedControlType !== controlTypes.Numeric"
        [id]="controlMap.get(controlTypes.Numeric).id"
        [name]="controlMap.get(controlTypes.Numeric).name"
        [label]="controlMap.get(controlTypes.Numeric).label"
        [isRequired]="controlMap.get(controlTypes.Numeric).isRequired"
        [isDisabled]="controlMap.get(controlTypes.Numeric).isDisabled"
        [min]="controlMap.get(controlTypes.Numeric).minNumber"
        [max]="controlMap.get(controlTypes.Numeric).maxNumber"
        [minlength]="controlMap.get(controlTypes.Numeric).minlength"
        [maxlength]="controlMap.get(controlTypes.Numeric).maxlength"
        [step]="controlMap.get(controlTypes.Numeric).step"
      [(model)]="controlMap.get(controlTypes.Numeric).model"></tmx-numeric-control>

      <tmx-phone-number-control [hidden]="selectedControlType !== controlTypes.PhoneNumber"
        [id]="controlMap.get(controlTypes.PhoneNumber).id"
        [name]="controlMap.get(controlTypes.PhoneNumber).name"
        [label]="controlMap.get(controlTypes.PhoneNumber).label"
        [isRequired]="controlMap.get(controlTypes.PhoneNumber).isRequired"
        [isDisabled]="controlMap.get(controlTypes.PhoneNumber).isDisabled"
      [(model)]="controlMap.get(controlTypes.PhoneNumber).model"></tmx-phone-number-control>

      <tmx-text-control [hidden]="selectedControlType !== controlTypes.Text"
        [id]="controlMap.get(controlTypes.Text).id"
        [name]="controlMap.get(controlTypes.Text).name"
        [label]="controlMap.get(controlTypes.Text).label"
        [(model)]="controlMap.get(controlTypes.Text).model"
        [isRequired]="controlMap.get(controlTypes.Text).isRequired"
        [isDisabled]="controlMap.get(controlTypes.Text).isDisabled"
        [minlength]="controlMap.get(controlTypes.Text).minlength"
        [maxlength]="controlMap.get(controlTypes.Text).maxlength"
      (keyUpEnter)="testKeydown($event)"></tmx-text-control>
    </mat-card>

    <mat-card appearance="outlined" class="mt-xs">
      <h3>Options</h3>
      @if (selectedControlType === controlTypes.Date) {
        <tmx-date-options [model]="controlMap.get(controlTypes.Date)"></tmx-date-options>
      }
      @if (selectedControlType === controlTypes.DateTime) {
        <tmx-date-options [model]="controlMap.get(controlTypes.DateTime)"></tmx-date-options>
      }
      @if (selectedControlType === controlTypes.Guid) {
        <tmx-common-options [model]="controlMap.get(controlTypes.Guid)"></tmx-common-options>
      }
      @if (selectedControlType === controlTypes.Numeric) {
        <tmx-numeric-options [model]="controlMap.get(controlTypes.Numeric)"></tmx-numeric-options>
      }
      @if (selectedControlType === controlTypes.PhoneNumber) {
        <tmx-common-options [model]="controlMap.get(controlTypes.PhoneNumber)"></tmx-common-options>
      }
      @if (selectedControlType === controlTypes.Text) {
        <tmx-text-options [model]="controlMap.get(controlTypes.Text)"></tmx-text-options>
      }
    </mat-card>
  </div>
  <div class="w-1/2">
    <mat-card appearance="outlined" class="w-full">
      <h3>Parent Model</h3>
      <pre>{{selectedControl | json}}</pre>
    </mat-card>
    <mat-card appearance="outlined" class="mt-xs w-full">
      <h3>Control Data</h3>
      <tmx-data-list>
        @for (prop of componentProperties; track prop) {
          @if (selectedComponent && selectedComponent[prop] !== undefined) {
            <tmx-data-list-row [label]="prop">{{selectedComponent[prop]}}</tmx-data-list-row>
          }
        }
        <tmx-data-list-row label="default err msg">{{selectedComponent?.getErrorMessage()}}</tmx-data-list-row>
      </tmx-data-list>
    </mat-card>
  </div>
</div>
