<mat-card appearance="outlined">
  <div class="flex flex-wrap justify-center">
    <mat-form-field appearance="outline">
      <mat-label>Policy Number</mat-label>
      <input [(ngModel)]="policyNumber" id="tmx-tph-pol-nbr" type="text"
        (keyup.enter)="search(policyNumber)" matInput maxlength="9">
        <mat-error>Maximum length is 9</mat-error>
      </mat-form-field>
      <span>
        <button mat-flat-button color="primary"
          class="ml-xxs header-search-button"
          (click)="search(policyNumber)">Search
          <ng-content select="mat-icon"></ng-content>
        </button>
      </span>
    </div>
  </mat-card>

  <div class="pt-xxs">

    @if (hasPolicy()) {
      <div>
        <mat-accordion>
          <mat-expansion-panel #pjPanel class="mb-xxs"
            [ngClass]="{'overflow-auto': pjPanel.expanded}" [expanded]="true">
            <mat-expansion-panel-header>
              Participant Junction - Policy #: {{(policy$ | async)?.policyNumber }}
              <span>
                <button mat-flat-button color="primary"	class="ml-xxs header-search-button float-right" (click)="getParticipantJunctionInfoCsvFileExport()">Export to CSV</button>
              </span>
            </mat-expansion-panel-header>
            <tmx-policy-history-participant-junction
            [data]="junctionData$"></tmx-policy-history-participant-junction>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel #tranPanel class="mb-xxs"
            [ngClass]="{'overflow-auto': tranPanel.expanded}">
            <mat-expansion-panel-header>
              Transaction Audit Log
              <span>
                <button mat-flat-button color="primary"	class="ml-xxs header-search-button float-right" (click)="getTransAuditLogCsvFileExport()">Export to CSV</button>
              </span>
            </mat-expansion-panel-header>
            <tmx-policy-history-transaction-audit-log
            [data]="auditLogs$"></tmx-policy-history-transaction-audit-log>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel #policyPanel class="mb-xxs"
            [ngClass]="{'overflow-auto': policyPanel.expanded}">
            <mat-expansion-panel-header>
              Policy
            </mat-expansion-panel-header>
            <tmx-policy-history-policy
            [data]="policy$ | async"></tmx-policy-history-policy>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    } @else {
      <mat-card appearance="outlined">
        <tmx-empty-state icon="search_off" primaryText="Policy History"
        secondaryText="Please enter a policy number to begin"></tmx-empty-state>
      </mat-card>
    }

  </div>
