<mat-card appearance="outlined" class="w-2/3 mx-auto">
	<table mat-table [dataSource]="dataSource" class="cui-table table-auto" matSort>
		<ng-container matColumnDef="paginatorHeader">
		<th mat-header-cell colspan="8" *matHeaderCellDef> 
			<div class="flex justify-end"> 
				<mat-paginator [length]="dataSource.totalRecords$ | async"
					[pageIndex]="0"
					[pageSize]="50"
					[pageSizeOptions]="[25, 50, 100, 500]">
				</mat-paginator>
			</div>
		</th>
		</ng-container>
		<ng-container matColumnDef="make">
			<th mat-header-cell *matHeaderCellDef>
				<div>
					<mat-form-field appearance="outline" class="cui-cell-14 filter">
						<mat-label>Make</mat-label>
						<input #filter id="tmx-inelig-veh-make-filter" type="text" matInput [(ngModel)]="makeFilter">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let item">{{ item.make }}</td>
		</ng-container>
		<ng-container matColumnDef="model">
			<th mat-header-cell *matHeaderCellDef>
				<div>
					<mat-form-field appearance="outline" class="filter">
						<mat-label>Model</mat-label>
						<input #filter id="tmx-inelig-veh-model-filter" type="text" matInput [(ngModel)]="modelFilter">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let item">{{ item.model }}</td>
		</ng-container>
		<ng-container matColumnDef="year">
			<th mat-header-cell *matHeaderCellDef class="cui-cell-10">
				<div>
					<mat-form-field appearance="outline" class="cui-cell-10 filter">
						<mat-label>Year</mat-label>
						<input #filter id="tmx-inelig-veh-year-filter" type="text" matInput cuiNumbersOnly maxlength="4" minlength="4" [(ngModel)]="yearFilter">
					</mat-form-field>
				</div>
			</th>
			<td mat-cell *matCellDef="let item">{{ item.modelYear }}</td>
		</ng-container>
		<ng-container matColumnDef="exclMake">
			<th mat-header-cell *matHeaderCellDef class="cui-cell-14">
				<div class="flex justify-center">
					<span class="my-auto">Excluded Make</span>
					<tmx-help-text class="ml-bl-3 my-auto" [helpKey]="help.ExcludedMake"></tmx-help-text>
				</div>
			</th>
			<td mat-cell *matCellDef="let item">{{ item.excludedMakeInd | yesNo }}</td>
		</ng-container>
			<ng-container matColumnDef="exactMatch">
			<th mat-header-cell *matHeaderCellDef class="exact-match-cell">
				<div class="flex justify-center">
					<span class="my-auto">Exact Model Match</span>
					<tmx-help-text class="ml-bl-3 my-auto" [helpKey]="help.ExactModelMatch"></tmx-help-text>
				</div>
			</th>
			<td mat-cell *matCellDef="let item">{{ item.exactModelMatchInd | yesNo }}</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="paginatorHeader; sticky: true"></tr>
		<tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
		<tr mat-row *matRowDef="let row; columns: columns"></tr>
	</table>
</mat-card>
