@use "base/variables" as var2;

@use "sass:map";
@use "@angular/material" as mat;

@mixin tab-theme($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$accent: map.get($color-config, 'accent');
	$primary: map.get($color-config, 'primary');
	$is-dark: map.get($color-config, 'is-dark');
	/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
	.mat-tab-label-active {
		color: inherit;
		border-radius: var2.$border-radius;

		color: mat.m2-get-color-from-palette($primary, if($is-dark, 200, darker));
		background-color: mat.m2-get-color-from-palette($primary, 0.12) !important;

		&:hover {
			background-color: mat.m2-get-color-from-palette($primary, .04) !important;
		}
	}
}