<div class="flex p-xxs pb-xxs mx-auto"> 

	<tmx-data-list class="flex-grow">
		<tmx-data-list-row labelSpan="50" label="Create Date">{{ device.createDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="First Contact">{{ device.firstContactDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Last Contact">{{ device.lastContactDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Mobile Alias">{{ device.mobileDeviceAliasName }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Mobile OS Name">{{ device.mobileOSName }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Mobile OS Version Name">{{ device.mobileOSVersionName }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Mobile Device Model Name">{{ device.mobileDeviceModelName }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Mobile App Version Name">{{ device.mobileAppVersionName }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="Device SeqID">{{ device.deviceSeqId }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="HomeBase SeqID">{{ device.homeBaseDeviceSeqId }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="50" label="ID">{{ device.deviceIdentifier }}</tmx-data-list-row>
	</tmx-data-list>

</div>