<mat-sidenav-container class="tmx-sidenav-container">

  <mat-sidenav #sidenav class="tmx-sidenav" opened [fixedInViewport] [autoFocus]="false">
    <tmx-side-nav-bar></tmx-side-nav-bar>
  </mat-sidenav>

  <mat-sidenav #sidesheet class="cui-side-sheet" position="end" [autoFocus]="true" [fixedInViewport]="true"
    role="region">
    @if (selectedSideSheet$ | async; as selectedSideSheet) {
      <ng-container *ngComponentOutlet="selectedSideSheet"></ng-container>
    }
  </mat-sidenav>

  <mat-sidenav-content #content>
    <tmx-app-header title="TMX ADMIN APP"></tmx-app-header>
    <div class="tmx-sidenav-content p-xxl pt-s">
      <div class="cui-tmx-container">
        <div class="cui-tmx-content p-xs">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>