.form {
	height: 500px;

}

.footer {
	display: flex;
	justify-content: flex-end !important;
}

:host {

	::ng-deep {
		.dialog-footer {
			justify-content: flex-end !important;
		}

		tmx-help-text mat-icon {
			font-size: 24px;
			height: 24px;
			width: 24px;
		}
	}

		top-space {
		margin-top: 10px;
		width: inherit;


	}
}
