<div class="flex p-xs"> 
	<tmx-data-list class="mr-s flex-grow">
		<tmx-data-list-row labelSpan="40" label="Policy Seq ID">{{ data.policySeqID }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Policy Number">{{ data.policyNumber }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Email Address">{{ data.emailAddress}}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Name">{{ data.name }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Address 1">{{ data.address1 }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Address 2">{{ data.address2 }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="City">{{ data.city }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="State">{{ data.state }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Zip">{{ data.zipCode }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Source Code">{{ data.sourceCode }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Create Date">{{ data.createDate | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
	</tmx-data-list>

	<tmx-data-list class="ml-s flex-grow">
		<tmx-data-list-row labelSpan="40" label="Active Email Address">{{ data.activeEmailAddress }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Needs Label Printed">{{ data.needsLabelPrinted }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="First Time Login">{{ data.firstTimeLogin | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Participation Type">{{ data.participationType }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Participation Sub Type">{{ data.participationSubType }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Channel Indicator">{{ data.channelIndicator }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Product Code">{{ data.productCode }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Last Reconcile Date">{{ data.lastReconcileDate | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Mailing State">{{ data.mailingState }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Device Category ID">{{ data.deviceCategoryID }}</tmx-data-list-row>
		<tmx-data-list-row labelSpan="40" label="Trial Customer ID">{{ data.trialCustomerID }}</tmx-data-list-row>
	</tmx-data-list>
</div>
