@if (menu._allItems?.length > 0) {
  <button mat-flat-button color="primary" [matMenuTriggerFor]="menu"
    (click)="$event.stopPropagation();">
    Actions
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </button>
} @else {
  <button mat-flat-button color="primary" class="invisible">
    Actions
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
  </button>
}


<mat-menu #menu="matMenu" class="cui-menu">
  <button mat-menu-item aria-label="Edit" (click)="openPolicyEdit()">Edit</button>
</mat-menu>