<cui-dialog
    role="dialog"
    aria-modal="true"
    closeButtonLabel="Close Dialog"
    [showClose]="true"
    [showFooter]="true"
    (close)="onClose()"
>
    <div mat-dialog-title dialog-header class="flex space-x-4">
        <span>{{ data.title }}</span>
        @if (data.helpKey) {
            <tmx-help-text
                class="content-center items-center"
                [helpKey]="data.helpKey"
            ></tmx-help-text>
        }
    </div>
    <div dialog-sub-header>
        @if (shouldDisplaySubtitle()) {
            @if (hasInjectedSubtitleComponent()) {
                <ng-container
                    *ngComponentOutlet="data.subtitleComponent; injector: subtitleContentInjector"
                ></ng-container>
            } @else {
                <tmx-dialog-subtitle [leftContent]="data.subtitle"></tmx-dialog-subtitle>
            }
        }
    </div>
    <div
        mat-dialog-content
        dialog-content
        [ngClass]="data.dialogContentClass ? data.dialogContentClass : 'mt-xxs'"
    >
        <ng-container *ngComponentOutlet="data.component; injector: contentInjector"></ng-container>
    </div>
    <ng-container dialog-footer mat-dialog-actions>
        @if (shouldShowPaginator()) {
            <mat-paginator
                id="special-outline"
                class="special-outline"
                pageSize="10"
                [showFirstLastButtons]="true"
                [pageSizeOptions]="[10, 25, 50, 100]"
                aria-label="Select page"
            ></mat-paginator>
        }
        <button
            mat-flat-button
            color="primary"
            class="mr-xxs"
            id="btn-confirm"
            [disabled]="shouldDisableConfirm()"
            (click)="onConfirm()"
        >
            {{ data.confirmText }}
        </button>
        @if (!data.hideCancelButton) {
            <button mat-stroked-button color="primary" id="btn-cancel" (click)="onCancel()">
                {{ data.cancelText }}
            </button>
        }
    </ng-container>
</cui-dialog>
