@use "sass:map";
@use "@angular/material" as mat;
@use "theming/themes/light-blue";
@use "../mixins/app-theme";
@use "theming/palettes";
@use "../../variables";

$color-config: mat.m2-get-color-config(light-blue.$theme);
$primary: map.get(light-blue.$color-config, 'primary');
$background: map.get(light-blue.$color-config, 'background');
$background: map.merge($background, (background: variables.$white));
$theme: map.merge(light-blue.$theme, (background: $background));

$theme-extensions: (
	is-green: false,
	is-light: true
);
$modified-theme: map.merge(light-blue.$theme, light-blue.$theme-extensions);

@include app-theme.labs-theme($modified-theme);

.cui-tmx-content,
.mat-drawer,
.mat-drawer.mat-drawer-push {
	background-color: mat.m2-get-color-from-palette(palettes.$cui-grey, 100);
}

.mat-drawer-container {
	background-color: variables.$white !important;
}

:root {
  --mat-form-field-outlined-focus-label-text-color: #{mat.m2-get-color-from-palette($primary, 900)};
}

.mat-mdc-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {		
	background-color: mat.m2-get-color-from-palette($primary);
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
.mat-mdc-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: mat.m2-get-color-from-palette($primary);
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
	opacity: 0.03 !important;
	background-color: mat.m2-get-color-from-palette($primary);
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: mat.m2-get-color-from-palette($primary);
}

.app-logo {
	content: url("../../../../public/assets/logo-light.png");
}
