<mat-expansion-panel tmxScrollRetainer [expanded]="(query.policy$ | async)?.participants?.length === 1 ? true : false">
	<mat-expansion-panel-header>
		<mat-panel-title>
			<mat-icon color="primary" svgIcon="ubi_snapshot_mobile" class="pr-xxs my-auto">
			</mat-icon>
			<span class="my-auto">Participant</span>
      @if (label !== undefined) {
        <span class="my-auto ml-xxs">{{ label }}</span>
      }
		</mat-panel-title>
		<mat-panel-description>
			<span class="my-auto">{{ participant.areDetails.driverFirstName ? participant.areDetails.driverFirstName + "'s Phone": registration ? (registration.mobileRegistrationCode| phoneNumber) : participant.telematicsId }}</span>
			<tmx-are-participant-actions [participant]="participant" class="ml-auto"></tmx-are-participant-actions>
		</mat-panel-description>
	</mat-expansion-panel-header>
	<mat-tab-group>
		<mat-tab label="Info">
			<tmx-data-list>
				<tmx-data-list-row labelSpan="40" label="Driver Name">{{ participant.areDetails.driverFirstName ? participant.areDetails.driverFirstName + "'s Phone": registration ? (registration.mobileRegistrationCode| phoneNumber) : participant.telematicsId }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Mobile Phone #">{{ participant.registrationDetails?.mobileRegistrationCode| phoneNumber }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Enrollment Status">{{ participant.areDetails.adEnrolled? "Enrolled":"Unenrolled" }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Mobile Reg Status"[labelHelpKey]="help.MobileRegistration">
				<div>
					{{ enums.mobileRegistrationStatusSummary.description(participant.registrationDetails?.statusSummary) }}
				</div>
				</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Device Status" [labelHelpKey]="help.DeviceStatus">{{ isDeviceActive() | activeInactive }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Enrollment Date/Time">{{ participant.areDetails.enrollmentDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Registration Date/Time">{{ participant.registrationDetails.mobileLastRegistrationDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="T&C Agreement Date/Time">{{ participant.areDetails.accidentResponseConsentDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>				
        @if (isEnrollmentStatusUnenrolled()) {
          <tmx-data-list-row labelSpan="40" label="Unenrollment Date/Time">{{ participant.areDetails.unenrollmentDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
        }
        @if (isEnrollmentStatusUnenrolled()) {
          <tmx-data-list-row labelSpan="40" label="Unenrollment Reason">{{ enums.unenrollReason.description(participant.areDetails.unenrollReason) }}</tmx-data-list-row>
        }
				<tmx-data-list-row labelSpan="40" label="Last Contact Date/Time">{{ participant.areDetails.lastContactDateTime | date: formats.DATE_TIME_LONG }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Mobile Phone Type">{{ participant.mobileDeviceDetails?.mobileOSName }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Mobile Phone Model">{{ participant.mobileDeviceDetails?.mobileDeviceModelName }}</tmx-data-list-row>
				<tmx-data-list-row labelSpan="40" label="Mobile App Version">{{ participant.mobileDeviceDetails?.mobileAppVersionName }}</tmx-data-list-row>
			</tmx-data-list>
		</mat-tab>

    <mat-tab label="TELEMATICS SUMMARY">
      <tmx-data-list>
        <tmx-data-list-row labelSpan="40" label="Telematics ID">{{ participant.homebaseParticipantSummaryResponse?.telematicsId }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="Driver Ref Id">{{ participant.homebaseParticipantSummaryResponse?.driverReferenceId }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="TMX Mobile Registered">{{ participant.homebaseParticipantSummaryResponse?.tmxMobileRegistered }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="UBI Experience">{{ participant.homebaseParticipantSummaryResponse?.ubiExperience }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="UBI Enrolled">{{ participant.homebaseParticipantSummaryResponse?.ubiEnrolled }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="UBI Activated">{{ participant.homebaseParticipantSummaryResponse?.ubiActivated }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="AR Enrolled">{{ participant.homebaseParticipantSummaryResponse?.adEnrolled }}</tmx-data-list-row>
        <tmx-data-list-row labelSpan="40" label="AR Activated">{{ participant.homebaseParticipantSummaryResponse?.adActivated }}</tmx-data-list-row>
      </tmx-data-list>
    </mat-tab>

  </mat-tab-group>
</mat-expansion-panel>